.date-cell {
    width: 175px;

    .table__row__cell__container {
        border: none!important;
        
        border-left: solid!important;
        border-right: solid!important;

        border-right-color: #fff!important;
        border-left-color: #fff!important;
        
        border-right-width: 1px!important;
        border-left-width: 1px!important;


        padding: 0px!important;
        background: #2b82c1!important;
    }

    input {
        width: 170px!important;
        border-radius: 0px!important;
        border: none!important;
        background: #2b82c1!important;
        color: #fff!important;
    }

    .ant-calendar-picker-icon {
        color: #fff;
    }

    .ant-calendar-picker-clear {
        color: #fff;
        background: #2b82c1;
    }

    .ant-calendar-picker-clear:hover {
        color: #fff;
        background: #2b82c1;
    }
}