.date-cell {
    width: 175px;
    height: 40px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #D1D3D4;
    
    .table__row__cell__container {
        border: none!important;
        
        border-left: solid!important;
        border-right: solid!important;

        border-right-color: #fff!important;
        border-left-color: #fff!important;
        
        border-right-width: 1px!important;
        border-left-width: 1px!important;


        padding: 0px!important;
        // background#2b82c1!important;
    }

    input {
        width: 170px!important;
        border-radius: 0px!important;
        border: none!important;
        // background: #2b82c1!important;
        // color: #fff!important;
    }

    // .ant-calendar-picker-icon {
    //     color: #fff;
    // }

    .ant-calendar-picker-clear {
        // color: #fff;
        background: #EFF1F3;
    }

    .ant-calendar-picker-clear:hover {
        // color: #fff;
        background: #EFF1F3;
    }
}

.datedue {
    &__placeholder {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
}