.home {
    &__links {
        position: absolute;
        right: 37px;
        top: 35px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        z-index: 10;

        a {
            margin-left: 30px;
            margin-right: 30px;
            color: black;

            font-family: 'Raleway';
            font-size: 18px;

            &:hover {
                color: #2D83C1;
            }
        }
    }

    &__sample {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 70%;
        }
    }
}