.ant-carousel {
    width: 317px;
    height: 91px;
    margin-bottom: 32px!important;

    .slick-dots {
        bottom: -19px!important;

        li {
            &.slick-active {
                button {
                    background-color: #595959!important;
                    height: 8px!important;
                }
            }
    
            button {
                background-color: darken(#EFF1F3, 40%)!important;
                height: 8px!important;
                border-radius: 10px;
            }
        }
}
}

.select {
    display: flex;
    flex-direction: row;

    &__drawer-colors {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 150px 150px;
        grid-template-rows: auto;
        grid-gap: 15px;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: dashed;
        border-bottom-color: #626262;
        border-bottom-width: 1px;
    }

    &__btnwrapper {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 150px 150px;
        grid-template-rows: auto;
        grid-gap: 5px;
        margin-right: 13px;
    }

    &__inner-content {
        display:flex;
        flex-direction: column;
        padding: 12px 12px;
        color: rgba(0, 0, 0, 0.65);
    }

    &__option {
        min-width: 150px!important;
        margin: 5px;
        // color: #ffffff!important;
    }

    &__cell {
        text-align: center;
        color: #ffffff;
        padding-top: 9px!important;
    }

    &__input {
        // color: white!important;
        height: 32px;
        line-height: 1.499;
        width: 150px;
        font-size: 14px!important;
        text-align: center;
        margin: 5px!important;

        &:read-only {
            background-color: #bfbfbf!important;
            color: #ffffff!important;
        }

        &:focus {
            // border: solid!important;
            // border-color: #595959!important;
            // border-width: 2px!important;
            outline: 2px solid #9fafc1;
            outline-offset: 3px;
            outline-style: dashed;
        }

        &--selected {
            outline: 2px solid #9fafc1;
            outline-offset: 3px;
            outline-style: dashed;

            // border: solid!important;
            // border-color: #595959!important;
            // border-width: 2px!important;
        }

    }

    &__newbtn {
        margin-left: 5px;
        margin-bottom: 15px;
        min-width: 150px;
    }

    &__form {
        .ant-form-item {
            margin-bottom: 0px!important;
        }
    }

    &__switch {
        margin-left: 78px;

    }
}

.ant-switch-checked {
    background-color: #3095de!important;
}

.select-color {

    margin-left: 7px;
    
    &__colors {
        margin-top: 5px;

        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 25px 25px 25px 25px;
        grid-template-rows: auto;
        grid-gap: 2px;
        width: 152px;
    }

    &__swatchbtn {
        height: 23px;
        width: 23px!important;
        min-width: 23px!important;
        padding: 0px;

        .text {
            color: #ffffff;
        }

        &--first {
            border-radius: 11px!important;

            .text {
                color: #595959!important;
            }
        }

    }

}

.select-swatches {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}