.select {
    display: flex;
    flex-direction: row;

    &__option {
        min-width: 150px!important;
        margin: 5px;
        color: #ffffff!important;
    }

    &__cell {
        text-align: center;
        color: #ffffff;
        padding-top: 9px!important;
    }
}