.teams {
    &__content {
        display: flex;
        flex-direction: row;
        

        margin: 10px;
    }

    &__groups {
        width: 40%;
        margin: 10px;
    }

    &__members {
        width: 100%;
        margin: 10px;
    }

}

.ant-page-header-title-view {
    margin-top: 20px!important;
}

.ant-page-header {
    padding-bottom: 0px!important;

    .contentLink {
        margin-top: 30px!important;
    }
}
